h1 {
  color: #FAEF5D;
  font-size: 1rem;
  text-transform: capitalize;
  text-shadow:
    1px 1px 1px #7E2553,
    2px 2px 1px #FF004D;
  text-align: center;
  margin-bottom: 50px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1D2B53;
  margin: 0;
  padding: 0;
  height: 250px;
  width: 350px;
}

.sliderContainer {
  width: 100%;
  scale: 1;
  justify-content: center;
  align-items: center;
  color: beige;
}

#slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.textBold {
  color: #FAEF5D;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
}

li {
  color: rgb(190, 190, 190);
  font-size: 8px;
  text-align: center;
  font-weight: bold;
}

#audibleTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.container {
  height: 200px;
  width: 300;
}

#favicon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}